spring.application.name=ems-backend

# ─── DataSource ───────────────────────────────────────────────────────────────
spring.datasource.url=jdbc:postgresql://localhost:5432/ems
spring.datasource.username=postgres
spring.datasource.password=YOUR_PASSWORD_HERE
spring.datasource.driver-class-name=org.postgresql.Driver

# ─── Liquibase ────────────────────────────────────────────────────────────────
spring.liquibase.change-log=classpath:/db/changelog/db.changelog-master.yaml
spring.liquibase.enabled=true
